<!--The content below is only a placeholder and can be replaced.-->
<div class="fab" [ngClass]="{'hidden-fab': !this.opened}" (click)="sidenav.toggle();this.opened = !this.opened;"></div>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened [(opened)]="opened">
    <div class="mat-sidenav-body">
      <mat-list class="mat-list-header">
        <mat-list-item>
          <button mat-stroked-button matBadge="22" matBadgePosition="above after"
                  matBadgeColor="warn" class="menu-line">
            <i class="material-icons">inbox</i>Inbox
            <label class="label-float">20</label>
          </button>
        </mat-list-item>
        <hr/>
        <mat-list-item class="mat-list-item-line">
          <button mat-stroked-button matBadge="18" matBadgePosition="above after"
                  matBadgeColor="warn" class="menu-line">
            <i class="material-icons">stars</i>Today
            <label class="label-float">18</label>
          </button>
        </mat-list-item>

        <mat-list-item class="mat-list-item-line">
          <button mat-stroked-button class="menu-line">
            <i class="material-icons">calendar_today</i>Upcoming
          </button>
        </mat-list-item>

        <mat-list-item class="mat-list-item-line">
          <button mat-stroked-button class="menu-line">
            <i class="material-icons">av_timer</i>Anytime
          </button>
        </mat-list-item>

        <mat-list-item class="mat-list-item-line">
          <button mat-stroked-button class="menu-line">
            <i class="material-icons">today</i>Someday
          </button>
        </mat-list-item>
        <hr/>
        <mat-list-item class="mat-list-item-line mat-list-item-line-padding">
          <button mat-stroked-button class="menu-line">
            <i class="material-icons">archive</i>Logbook
          </button>
        </mat-list-item>

        <mat-list-item class="mat-list-item-line">
          <button mat-stroked-button class="menu-line">
            <i class="material-icons">delete</i>Trash
          </button>
        </mat-list-item>
        <hr/>
        <mat-accordion *ngFor="let item of this.ideas">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="material-icons">room</i>{{item.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button *ngFor="let project of item.projects" mat-stroked-button class="menu-line button-padding-left">
              <i class="material-icons">list</i>{{project.name}}
              <button class="button-float-right" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-list>
    </div>
    <div class="mat-sidenav-footer">
      <button mat-stroked-button class="new-list-empty-border" [matMenuTriggerFor]="menuList">+ New List</button>
      <mat-menu #menuList="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Add Idea</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Add Project</span>
        </button>
      </mat-menu>
      <button mat-stroked-button class="config-button-empty-border"><i class="material-icons">tune</i></button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{'no-margin': true}">
    <div class="mat-sidenav-content-footer">
      <button mat-stroked-button class="footer-button-empty-border">
        <mat-icon>add_alert</mat-icon>
      </button>
      <button mat-stroked-button class="footer-button-empty-border">
        <mat-icon>calendar_today</mat-icon>
      </button>
      <button mat-stroked-button class="footer-button-empty-border">
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
      <button mat-stroked-button class="footer-button-empty-border">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
