.container {
  margin: 0 auto;
  top: 20px;
  width: 90%;
  height: 800px;
  border: 1px solid rgba(245,247,247, 1);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mat-sidenav {
  padding: 0px;
  width: 300px;
  margin: 0;
  background-color: rgba(245,247,247, 1);
}

.mat-drawer-content {
  margin-left: 300px;
  background-color: rgb(255,255,255);
  position: relative;
}

.mat-sidenav-content {
  background-color: rgb(255,255,255);
  position: relative;
}

.mat-drawer-inner-container {
  position: relative;
}

.mat-drawer-side {
  border-right: solid 0px rgba(0,0,0,.12);
}

.no-margin {
  margin: 1px;
  background-color: rgb(255,255,255);
}

.fab {
  width: 10px;
  height: 30px;
  background-color: rgba(76,175,80, 1);
  /*background-color: lightgrey;*/
  border-radius: 10%;
  box-shadow: 0 5px 5px 0 #666;
  transition: all 0.1s ease-in-out;
  font-size: 12px;
  color: red;
  text-align: center;
  line-height: 35px;
  position: fixed;
  left: calc(5% + 300px);
  bottom: 50%;
  z-index: 100;
}

.fab:hover {
  cursor: pointer;
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.55);
}

.hidden-fab {
  left: 5%;
  bottom: 50%;
}

.mat-sidenav-content-footer {
  min-height: 50px;
  width: 100%;
  border-top: 1px solid rgb(235,235,236);
  position: absolute;
  bottom: 0;
  text-align: center;
}

.mat-sidenav-content-main {
  height: calc(100% - 112px);
  min-width: 400px;
  margin: 20px;
  text-align: center;

  /*border: 1px solid rgb(235,235,236);*/
}

.mat-sidenav-body {
  margin: 0;
  padding: 0;
  height: calc(100% - 52px);
  overflow-y: auto;
}

.mat-sidenav-footer {
  min-height: 49px;
  width: 300px;
  border-top: 1px solid rgb(235,235,236);
  position: absolute;
  bottom: 0;
  text-align: center;
}

.new-list-empty-border {
  border: none;
  margin-top: 7px;
}

.config-button-empty-border {
  margin-top: 7px;
  border: none;
  margin-left: 60px;
}

.mat-list-header {
  padding-top: 50px;
}

.idea-hidden {
  display: none;
  visibility: hidden;
}

.menu-line {
  border: none;
  text-align: left;
  width: 100%;
}

span[id^='mat-badge-content-']{
  right: 35px !important;
  top: 7px !important;
}

.mat-list-item-line {
  height: 34px !important;
}

.mat-list-item-line-padding {
  padding-top: 12px !important;
}

.mat-list-item-line-padding-2 {
  padding-top: 20px !important;
}

.icon-padding {
  padding-left: 14px !important;

}

.label-float {
  float: right;
  padding-top: 1px;
  color: rgb(181,182,185);
  font-weight: 600;
  font-size: 12px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-expansion-panel {
  background: rgb(245,247,247);
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  padding: 0 30px;
}

.button-padding-left {
  padding-left: 6px !important;
}

/deep/ span.mat-expansion-indicator {
  display: none !important;
}

.fixed-height {
  height: 48px !important;
}

.input-text-style {
  padding: 0;
  border: 0;
  background-color: rgb(245,246,246);
  caret-color: rgb(245, 246, 246) !important;
}

.label-font {
  font: 400 13.3333px Arial;
  padding-top: 4px;
}

.button-float-right {
  float: right;
}

hr {
  display: block;
  text-align: center;
  width: 85%;
  border-top: 1px solid rgb(235,235,236);
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  padding: 0;
}

.footer-button-empty-border {
  border: none;
  margin-top: 7px;
  margin-left: 30px;
  width: 140px;
}

.main-content-top {
  width: 100%;
  text-align: left;
  font-size: larger;
  padding: 0px 8px !important;
}

.main-content-header {
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-top-note-container {
  width: 100%;
  text-align: left;
  /*border: 1px solid rgb(235,235,236);*/
}

.main-top-title-container {
  width: 100%;
  text-align: left;
  /*border-bottom: 1px solid rgb(235,235,236);*/
}

.main-top-note-input {
  font: 400 13.3333px Arial;
  width:calc(100% - 22px);
  text-align: left;
  margin: 0;
  min-height: 20px;
  min-width: 200px;
  border: 1px solid rgb(235,235,236);
  padding: 5px 10px;
}

.task-container {
  text-align: left;
  font: 450 13.3333px Arial;
}

.tags-container {
  font: 450 13.3333px Arial;
  text-align: left;
}

.main-top-title-input {
  font: 500 13.3333px Arial;
  font-size: large;
  width:calc(100% - 72px);
  text-align: left;
  margin: 0;
  min-height: 20px;
  min-width: 200px;
  border-bottom: 1px solid rgb(235,235,236);
  padding: 5px 10px;
}

.title-bottom-border {
  border-bottom: 1px solid rgb(235,235,236);
}

/deep/ .mat-form-field-underline.ng-star-inserted {
  height: 0px !important;
  bottom: 0px !important;
  background-color: white !important;
}

/deep/ span.mat-form-field-ripple {
  height: 0px !important;
}

/deep/ div.mat-form-field-infix {
  padding: 0px !important;
  border: 0px !important;
}

/deep/ div.mat-form-field-wrapper {
  padding-bottom: 10px !important;
}

.tag-active {
  background-color: #3f51b5;
  color: white;
}

.tag-button {
  min-width: 80px;
  margin-left: 15px;
  line-height: 20px !important;
}

.mat-grid-list-class {
  /*text-align: left;*/
  /*align-items: center;*/
  border: 1px solid rgb(235,235,236);
}

.mat-grid-tile-left-column {
  width: 20px !important;
  border: 1px solid rgb(235,235,236);
}

.mat-grid-tile-right-column {
  left: 22px !important;
  width: calc(100% - 22px) !important;
  /*border: 1px solid rgb(235,235,236);*/
}


/deep/ .mat-grid-tile .mat-figure {
  align-items: flex-start !important;
}
